.Admin{
  padding-top: 8%;
}

.AdminForm{
  border: 4px solid rgb(156, 149, 149);
  border-style: inset;
  padding: 15px 10px;
  width: 400px;
  height: auto;
  display: inline-block;
  margin: 50px;
  background-color: #F4B41A;
}

.logIn{
  background-color: #143D59;
  margin-right: 10px;
}

.inputTitles{
  font-size: large;
  text-align: left;
}

.adminLogo{
  width: 300px;
  height: auto;
}