.Teams{
  background-color: lightgray;
  height: 100vh;
}

.teamCard{
  margin: 10px;
  padding-top: 10px;
  background-color: #143D59;
  color: whitesmoke;
}

// .vTeamButton{
//   background-color: #F4b41A;
//   color: whitesmoke;
// }

.deleteButton{
  margin-top: 10px;
}